.hero {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 150px;
  margin-top: 160px;
}

.hero h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 40px;
}

.hero button {
  width: 208px;
  padding: 9px 20px;
  background-color: #FF6464;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  transition-duration: 200ms;
}

.hero button:hover {
  background-color: #fa2f2f;
  transition-duration: 200ms;
}